<div class="container-fluid">
    <div class="row min-vh-100">
      <div class="col-md-6 p-0 d-none d-md-block">
        <div class="image-container h-100">
          <img 
            src="assets/images/doctor-bg.jpg" 
            alt="Login" 
            class="login-image"
          >
        </div>
      </div>
  
      <div class="col-md-6 p-4 background-rb d-flex align-items-center justify-content-center">
        <div class="form-container">
          <h3 class="text-white mb-4">Set-up Password</h3>
          <form [formGroup]="registerAuthForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
              <label for="email" class="form-label text-white">Email <sup>*</sup></label>
              <input
                type="email"
                class="form-control form-control-sm"
                id="email"
                formControlName="email"
                [ngClass]="{'is-invalid': isFieldInvalid('email')}">
              <div class="invalid-feedback" *ngIf="isFieldInvalid('email')">
                {{ getEmailErrorMessage() }}
              </div>
            </div>

            <div class="mb-4">
                <label for="email" class="form-label text-white">OTP <sup>*</sup></label>
                <input
                  type="email"
                  class="form-control form-control-sm"
                  id="otp"
                  formControlName="otp"
                  [ngClass]="{'is-invalid': isFieldInvalid('otp')}">
                <div class="invalid-feedback" *ngIf="isFieldInvalid('otp')">
                  {{ getEmailErrorMessage() }}
                </div>
              </div>
            <div class="mb-4">
              <label for="password" class="form-label text-white">Password <sup>*</sup></label>
              <div class="input-group">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control form-control-sm"
                  id="password"
                  formControlName="password"
                  [ngClass]="{'is-invalid': isFieldInvalid('password')}"
                >
                <button 
                  class="btn btn-outline-light" 
                  type="button"
                  (click)="togglePasswordVisibility()"
                >
                  <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>
                <div class="invalid-feedback" *ngIf="isFieldInvalid('password')">
                  <div *ngIf="registerAuthForm.get('password')?.errors?.['required']">
                    Password is required
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-4">
                <label for="password" class="form-label text-white">Confirm Password <sup>*</sup></label>
                <div class="input-group">
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    class="form-control form-control-sm"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    [ngClass]="{'is-invalid': isFieldInvalid('confirmPassword')}"
                  >
                  <button 
                    class="btn btn-outline-light" 
                    type="button"
                    (click)="togglePasswordVisibility()"
                  >
                    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                  </button>
                  <div class="invalid-feedback" *ngIf="isFieldInvalid('confirmPassword')">
                    <div *ngIf="registerAuthForm.get('confirmPassword')?.errors?.['required']">
                      Confirm Password is required
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="isFieldInvalid('confirmPassword')">
                    <div *ngIf="registerAuthForm.get('confirmPassword')?.errors?.['passwordMismatch']">
                      Password and Confirm Password should match
                    </div>
                  </div>
                </div>
              </div>
  
            <div class="d-grid gap-2">
              <button 
                type="submit" 
                class="btn btn-outline-light btn-sm"
                [disabled]="registerAuthForm.invalid"
              >
                Submit
              </button>
            </div>
  
            <div class="mt-4 text-center text-white">
              Already have an account? 
              <a [routerLink]="['/login']" class="text-white text-decoration-none fw-bold">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  